* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: 0.25fr auto 0.5fr 2.5fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    font-family: system-ui, sans-serif;
}

h1 {
    display: flex;
    grid-column: span 4;
    justify-content: center;
    align-items: center;
}

nav,
section {
    display: flex;
    justify-content: center;
    grid-column: span 4;
}

section {
    align-items: end;
}

.arena {
    display: flex;
}

.boat_tracker {
    max-width: 33%;
    min-width: 225px;
}

.board {
    max-width: 67%;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#arenaOne {
    grid-column: 1 / 3;
    justify-content: left;
    align-items: center;
}

#arenaTwo {
    grid-column: 3 / 5;
    justify-content: right;
    align-items: center;
}

.row {
    display: flex;
    height: 40px;
}

.column {
    border: solid 1px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    font-size: 200%;
}

.column:empty:hover {
    background-image: url(../animate/radar.png);
    background-size: 150%;
    background-position: 45%;
}


button {
    width: 100px;
    height: 36px;
}

menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

menu>div {
    display: flex;
    height: 100px;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

.gridcount {
    display: flex;
    justify-content: left;
    width: 85%;
}

div.gridcount>div {
    border: solid 1px;
    height: 25px;
    width: 25px;
}

img {
    width: 95%;
    height: 75%;
    object-fit: cover;
}

.notInPlay {
    opacity: 0.01;
}

.sunk {
    background-color: black;
}